@import "./default.scss";
@import "./animation.scss";
@font-face {
  font-family: "myFont";
  src: url("@/assets/fonts/myPixelFont.ttf") format("truetype");
}
* {
  font-family: "myFont";
}
html,
body,
#__nuxt {
  height: 100%;
  margin: 0;
  padding: 0;
}
